body {
    background-color: #01040A;
    justify-content: center;
    align-items: center;
  }
  

.fullpage {
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1428px;
    margin: 0 auto;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  .main-1 {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 800px;
    background-color: #333333;
    border-radius: 50px;
  }
  .main-2 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 1500px;
    background-color: #333333;
    border-radius: 50px;
  }

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ffffff;
    height: 60px;
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255, 0.267) 0px 0px 100px 0px;
}


.bar-ele-but {
    display: none;
}

.bar-elements {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-nav-ele {
    display: block;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 0;
    letter-spacing: 0.06rem;
    gap: 8px;
}

.mob-nav-ele span:first-child {
    font-weight: 900;
}

.mob-nav-ele span:last-child {
    font-weight: 500;
}

.profile-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 25px;

    img {
        width: 120px;
        border-radius: 50%;
    }

    h3 {
        color: #ffffff;
        font-size: 1.3rem;
        margin-top: 15px;
        font-weight: 700;
    }
    h4 {
        color: #ffffff;
        font-size: 1.2rem;
        margin-top: 5px;
        font-weight: 400;
    }
}

.main-2-top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 20px 60px;
    width: 1080px;
    height: 150px;
    gap: 60px;
}

.setting, .notify {
    margin-top: 5px;
    scale: 150%;
}
.addbug {
    .addbug-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: rgba(255, 255, 255, 0.267) 0px 0px 100px 0px;
        font-weight: 700;
        font-size: 1.1rem;
        color: #000000;
    }
}

.main-mid1-txt {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #ffffff;
    font-size: 2rem;
    padding: 0px 60px;
    letter-spacing: 0.1rem;
}

.blue-txt {
    color: #0DCFFF;
    font-weight: 800;
}
.pink-txt {
    color: #FF6BCE;
    font-weight: 800;
}
.yellow-txt {
    color: #FFC94C;
    font-weight: 800;
}
.main-mid1-txt h6 {
    width: 60%;
    font-size: 1.28rem;
    font-weight: 500;
    margin-top: 10px;
}

.main2-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 0px 50px;
    width: 90%;
    height: 60px;
    border-radius: 22px;
    background-color: #636363;;
}

.tab-switch-i {
    display: flex;
    flex-direction: row;
    gap: 50px;

    h4 {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 700;

        span {
            color: #ffffff;
            text-decoration: underline 3px;
            text-decoration-color: #FFC94C;
            text-underline-offset: 5px;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }

}
.tab-switch-all {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 18px;
    background-color: #D9D9D9;
    cursor: pointer;
    position: relative;
}

.tab-switch-all h4 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
}

.tab-switch-all svg {
    scale: 140%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 05px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: #636363;
}

.show {
    display: block;
}