body {
    background-color: #01040A;
    justify-content: center;
    align-items: center;
}

.fullpage {
  position: relative;

  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 55px;
    width: 1428px;
}
 