* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    cursor: none;
}

html, body {
    cursor: default;
    overflow-x: scroll;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #01040A;
    justify-content: center;
    align-items: center;
}

/* .bg-ani {
  z-index: 0;
  position: fixed;
  opacity: 20%;
} */

.fullpage {
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: hidden;

}


  .head-txt {
    max-width: fit-content;
    height: fit-content;
    color: #eee;
    justify-content: left;
    align-items: start;
  }
  .colored-text {
    color: #00e6e6;
  }
  .bug {
    color: #fff;
    font-weight: 700;
    font-style: italic;
  }
  .head-txt-container {
    justify-content: center;
    height: 510px;
    display: flex;
    text-align: left;
    align-items: center;
  }
  .head-txt-container p {
    font-size: 4.2rem;
    padding: .5rem;
    padding-bottom: 46px;
    line-height: 5.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: left;
    overflow: hidden;
    z-index: 5;
  }
  .head-txt-container p span.typed-text {
    font-weight: 800;
    font-style: italic;
    color: #dd7732;
  }
  
  p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: #ccc;
    }
    49% {
      background-color: #ccc;
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: #ccc;
    }
  }
  

header {
    display: flex;
    width: 1428px;
    padding: 10px 20px 10px 20px; 
    height: 1150px;
}

.head-main {
    display: flex;
    flex-direction: column;
    width: 1428px;
    justify-content: left;
    text-align: left;
    height: fit-content;

}
  
.head-but {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: -80px;
    
}




.head-but-1 {
    color: white;
    background: linear-gradient(to right, #2980B9, #2C3E50);
    border-radius: 15rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
    text-align: left;
    display: inline-flex; /* Optional: ensures proper alignment of text inside */
    align-items: center;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease; /* Smooth hover effect */
}

.head-but-1:hover {
    background: linear-gradient(to right, #2C3E50, #2980B9); /* Bright purple gradient */
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

.head-but-1:active {
    transform: scale(1); /* Reset scaling on click */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reduce shadow on click */
}

/* robo animation */

.robo-ani {
    margin-top: 80px; 
    margin-left: -735px;
    z-index: 0;
    border-top: none;
    border-bottom: none;
    scale: 90%;
    max-height: fit-content;
  }
  
.robo {
    width: 100vw;
    height: fit-content;
    margin: 0;
    background: black; 
    overflow: hidden;
  }
  
  #webgl {
    width: 800px;
    max-height: fit-content;;
    position: absolute;
    z-index: -1;
  }
  
  #webgl2 {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
  }
  
  #bg-box {
    width: 800px;
    height: 602px;
    position: absolute;
    z-index: -1;
    padding-top: 1px;     /* Shift content down by 1px */
    padding-bottom: 1px; 
    background: transparent; /* Change this line */
  }
  
  .svg-box {
    width: 800px;
    height: 602px;
    position: absolute;
    z-index: 1;
    background-color: #01040a;
  
  }
  .svg-box #robot {
    cursor: pointer;
  }
  
  .head-tab {
    background-color: #0c0c0c00; /* Dark background */
    color: #fff; /* White text */
    display: flex;
    justify-content: left;
    align-items: start;
    padding-top: 50px;
    height: fit-content;
    margin: 0;
  }
  
  .freelancer-organization-table {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 725px; /* Adjust as needed */
    
  }
  
  .freelancer-section, .organization-section {
    padding: 20px;
    border: 1px solid #fff;
  }

  
  .freelancer-section p, .organization-section p {
    margin: 0;
  }
  .gradient-heading-h2 a, .gradient-heading-p a {
    cursor: pointer;
  }
  
  .freelancer-organization-table::before,
  .freelancer-organization-table::after {
    content: '';
    position: absolute;
    border: 5px solid #fff;
    width: 45px;
    height: 45px;
  }
  
  .freelancer-organization-table::before {
    top: -10px;
    left: -10px;
    border-bottom: none;
    border-right: none;
  }
  
  .freelancer-organization-table::after {
    bottom: -10px;
    right: -10px;
    border-top: none;
    border-left: none;
  }
  
  .gradient-heading-h2 {
    background: linear-gradient(20deg, #FFFFFF, #999999); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .gradient-heading-p {
    background: linear-gradient(30deg, #FFFFFF, #999999); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  


  .header-middle {
    display: flex;
    justify-content: left;
    align-self: start;
    height: fit-content;
    width: 100%;
  }

  .header-middle {
    width: 1428px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: fit-content;
    padding-top: 80px;
}


  .header-mid1 {
    display: flex;
    width: 50%;
    margin-left: 20px;
    justify-content: left;
    align-self: start;
    flex-direction: column;
  }

  .header-mid1 p {
    font-size: 19px;
    color: white;
    padding: 9px;
  }

  .para-p2 {
    margin-left: 200px;
  }

  .para-p1::after {
    content: '';
    display: block;
    width: 42%;
    height: 4px;
    background-color: #ffffff;
    margin-top: 10px; 
}
  .para-p2::after {
    content: '';
    display: block;
    width: 75%;
    height: 3px;
    background-color: #ffffff;
    margin-top: 10px; 
}


.header-mid2 {
  position: absolute;
  right: -111px;
  width: 720px;
  height: 140px;
  border: 2px solid white;
  color: #ffffff;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px; 
  background-color: #01040A; 
  border-right: none;
}

.header-mid2 h2 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 15px;
}

.email-box-main {
  padding: 10px;
}

.email-box {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-content: center;

}

.email-input {
  background-color: #000000;
  color: #ffffff;
  width: 500px;
  height: 50px;
  border-radius: 20px;
  font-size: 22px;
  text-align-last: auto;
  border: none;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  z-index: 1;
  cursor: text;
}

.email-box button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 5;
}

.email-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgb(232, 232, 232);
}

.email-box button svg {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  scale: 170%;
  fill: #000;
  display: block;
  margin-left: 4px;
}

.header-mid2::before {
  content: '';
  position: absolute;
  border: 5px solid #fff;
  width: 45px;
  height: 45px;
}

.header-mid2::before {
  bottom: -30px;
  left: -30px;
  border-top: none;
  border-right: none;
}

.vector-1 {
  position: relative;
  scale: 60%;
  margin-top: 26px;
  left: 405px;
  z-index: 0;
}


.mid-page,
.mid-page2 {
  position: relative;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
}
.mid-page2 {
  padding: 0;
}

.mid-page-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 45px;
  position: relative;

}

.mid-page-heading h1 {
  color: white;
  font-size: 65px;

}

.mid-page-heading img {
  scale: 55%;
  position: absolute;
  justify-content: left;
  align-items: start;
  left: 318px;
  bottom: 20px;

}

/* Card Container */
.card-container {
  display: flex;
  gap: 3rem;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
}

/* Card Styling */
.card {
  background-color: #01040A;
  border: 2px solid #ccb6b6;
  border-radius: 15px;
  padding: 3rem;
  width: 400px;
  height: fit-content;
  text-align: left;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  position: relative; /* Position for the top line */
}

.card::before {
  content: '';
  position: absolute;
  top: 10px; /* Position below the top border */
  left: 0px; /* Align with inner padding */
  right: 0px; /* Match left padding */
  height: 2px; /* Line thickness */
  background-color: #ccb6b6; /* Line color */
}

.card-p1 {
  padding: 0px 0 70px 0;
}


/* Card Content */
.card h2 {
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin-bottom: 0rem;
  padding: 0 0 10px 0;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #d3d3d3;
}

.card span {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ccb6b6;
}

/* Button Styling */
.card button {
  background: linear-gradient(90deg, #4d94ff, #1a73e8);
  color: #fff;
  border: none;
  border-radius: 18px;
  padding: 1rem 7.2rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 18px rgba(77, 148, 255, 0.5);
}

.card-all-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;

}

.card-all-text h3 a {
  color: #fff;
  text-decoration: underline;
  font-size: 1.45rem;
  font-weight: 500;
  cursor: pointer;
}

/* Ensure no extra margins or paddings for images */


.mid-page-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-height: fit-content;
  padding: 70px 0 0 0;
}

.vector1 {
  position: absolute; /* Change from relative to absolute */
  transform: scale(0.5) translate(-10px, 495px); /* Combine scale and positioning */
  top: 480px;
  left: 0px;
}


.mid-page-middle-heading {
  height: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-text {
  font-size: 2.2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 40px;
}

.top-text span {
  color: rgb(61, 61, 255);
}

.mid-page-middle-main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.circle-container {
  display: flex;
  display: flex;
  justify-content: center;
  gap: 45px; 
  padding: 10px 0 25px 0;
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%; /* Makes the div circular */
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: 4px solid transparent; /* Circle border */

}

.circle.red { border-color: red; }
.circle.green { border-color: green; }
.circle.blue { border-color: blue; }
.circle.yellow { border-color: yellow; }
.circle.cyan { border-color: cyan; }
.circle.purple { border-color: purple; }



.mid-page-middle-main-robo {
  /* background: radial-gradient(farthest-side at top, #092944, #010510); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scale: 180%;
  padding: 120px;
  z-index: 0;
}

.outer-face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  perspective: 600px;
  background: #eceff1;
  box-shadow: inset 0 -0.4em 2em #333;
  padding: 1.7em 1em 1em;
  border-radius: 70% / 90% 90% 55% 55%;
  animation: float 2s infinite both;
}

@keyframes float {
  from,
  to {
    top: 0;
  }
  50% {
    top: 1px;
  }
}
.inner-face {
  display: none;
  position: relative;
  left: -100vw;
}
.inner-face + label {
  box-shadow: inset 0 -2em 4em 0 black;
  animation: nod 4s 1s ease infinite both;
}
@keyframes nod {
  0%,
        100% {
    transform: rotatey(0) translatez(0);
  }
  20%,
        60%,
        90% {
    transform: rotatey(0) translatez(20px);
  }
  40% {
    transform: rotatey(-30deg) translatez(40px);
  }
  70% {
    transform: rotatey(30deg) translatez(40px);
  }
}
.inner-face + label:after,
.inner-face + label:before {
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.2) 3px, rgba(221, 221, 221, 0.2) 6px), radial-gradient(#2196f3, #00b0ff, #000);
  box-shadow: 0 0 2em 0 #2196f3, inset 0 0 black;
  top: 1.8em;
  transition: all 0.5 ease;
  animation: blink 5s ease infinite both;
}

@keyframes blink {
  from,
        to {
    transform: rotatex(0);
  }
  50% {
    transform: rotatex(40deg);
  }
}
label {
  position: relative;
  background: black;
  border-radius: 110% 110% 100% 100%;
  height: calc(4rem * 1.3);
  width: calc(4rem * 2);
  padding-top: 0.4em;
  transition: all 0.5s ease;
  overflow: hidden;
  transform: rotatey(0) translatez(0);
}
label:after, label:before {
  border-radius: 50%;
  content: "";
  position: absolute;
  height: calc(4rem / 2);
  width: calc(4rem / 2);
  top: calc(4rem * 0.7);
  transition: all 0.6s 0.3s ease;
  transform: rotatex(40deg);
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.1) 4px, rgba(221, 221, 221, 0.1) 8px), radial-gradient(#2196f3, #000), linear-gradient(to bottom, black, rgba(0, 0, 0, 0)), linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 4em black, inset 0 1em 0.4em black;
}
label:after {
  left: 1.5em;
}
label:before {
  left: calc(4rem + 0.3em);
}


.mid-page-middle-foot {
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0;
  padding: 25px;
}

.mid-page-middle-foot .text-container {
  display: flex;
  align-items: baseline; 
  gap: 13px; 
  font-size: 3.8rem;
  font-weight: bold;
}

.underline {
  display: inline-block;
  width: 175px; 
  border-bottom: 5px solid blue; 
  position: relative;
  top: 0.2em; 
}

.vector2 {
  position: absolute; /* Change from relative to absolute */
  transform: scale(0.32) translate(164px, -31px); /* Combine scale and positioning */
  top: 1085px;
  right: -130px;
}


.mid-page-foot {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 120px 40px 0 40px;
}


.section-1,
.section-2,
.section-3 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: fit-content;
}

.section-2 {
  align-items: end;
}


.container {
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.number-circle {
  width: 70px;
  height: 70px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pill {
  height: 70px;
  border-radius: 38px;
}

.pill.blue {
  width: 150px;
  background-color: #007BFF; 
}
.section-2 .pill.blue {
  background-color: #bbff00; 
}
.section-3 .pill.blue {
  background-color: #FF6B00; 
}

.pill.cyan {
  width: 90px;
  background-color: #00E6E6; /* Cyan pill */
}
.section-2 .pill.cyan {
  background-color: #ff006a; 
}
.section-3 .pill.cyan {
  background-color: #00FFF0; 
}

.container .text-container {
  flex-direction: column;
}

.text-container h1 {
  font-size: 3.65rem;
  font-weight: 700;
  width: 835px;
}

.text-container p {
  font-size: 1.45rem;
  width: 835px;
  font-weight: 400;
  line-height: 1.6;
  color: #ccc; /* Slightly lighter text */
  margin-top: 10px;
}

.sec1-img,
.sec3-img {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  padding: 60px 40px;
}

.sec3-img {
  padding: 120px 0 40px;
}

.sec1-img img {
  margin: 0; /* Remove any margin that might offset the centering */
}


.vector3 {
  position: absolute; /* Change from relative to absolute */
  transform: scale(0.32) translate(164px, -31px); /* Combine scale and positioning */
  top: 2450px;
  left: -180px;
}
.vector4 {
  position: absolute; /* Change from relative to absolute */
  transform: scale(0.55) translate(164px, -31px); /* Combine scale and positioning */
  top: 3600px;
  left: 900px;
}
.vector5 {
  position: absolute;
  transform: scale(0.35) translate(164px, -31px);
  top: 4520px;
  z-index: 9;
  left: -120px;
}
.vector6 {
  position: absolute;
  transform: scale(0.5) translate(164px, -31px);
  top: 5280px;
  z-index: 9;
  left: -120px;
}
.discord-vec {
  position: absolute;
  transform: scale(0.34) translate(164px, -31px);
  z-index: 9;
  top: 4740px;
  right: -40px;
}

.mid-page-foot-discord {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  padding: 10px 0 100px 0;
  width: 1428px;
  scale: 88%;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1428px;
  gap: 100px;
}

.logo-container {
  flex: 1;
  transform: scale(5.6) rotate(-20deg);
  text-align: center;
  margin: 20px;
  z-index: 0;
}

.content-container {
  flex: 1;
  margin: 20px;
  z-index: 9;
}

.content-container h1 {
  font-size: 5rem;
  line-height: 6.2rem;
  font-weight: bolder;
  font-style: italic;
}
.content-container br {
  line-height: 6.2rem;
}


.content-container p {
  margin: 15px 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 18px 30px;
  background: linear-gradient(to right, #3D4E81, #5753C9, #6E7FF3);
  color: white;
  text-decoration: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 1.35rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease; /* Smooth hover effect */
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to right, #6E7FF3, #5753C9, #3D4E81); /* Bright purple gradient */
  transform: scale(1.05); /* Slightly enlarge the button */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

.btn:active {
  transform: scale(1); /* Reset scaling on click */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reduce shadow on click */
}

/* Animation styles */
.discord-logo {
  transform: scale(0.7);
  transform-origin: 24px 24px;
}

.discord-logo.swirl-animation .discord-outer-layer {
  transition: transform 800ms cubic-bezier(0.7, 1, 0.7, 1);
  transform-origin: 50% 50%;
}

.discord-logo-container:hover .swirl-animation .discord-outer-layer {
  transform: scale(1.5) rotate(360deg);
}

.discord-logo.swirl-animation .discord-middle-layer {
  transition: transform 800ms cubic-bezier(0.5, 1, 0.5, 1);
  transform-origin: 50% 50%;
}

.discord-logo-container:hover .swirl-animation .discord-middle-layer {
  transform: scale(1.4) rotate(360deg);
}

.discord-logo.swirl-animation .discord-inner-layer {
  transition: transform 800ms cubic-bezier(0.3, 1, 0.3, 1);
  transform-origin: 50% 50%;
}

.discord-logo-container:hover .swirl-animation .discord-inner-layer {
  transform: scale(1.3) rotate(360deg);
}

.discord-logo.swirl-animation .discord-original {
  transition: visibility 0ms;
  transition-delay: 800ms;
}

.discord-logo-container:hover .swirl-animation .discord-original {
  visibility: hidden;
  transition-delay: 0ms;
}




.mid-page-foot-faq {
  position: relative;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 60px 80px 60px;
  height: fit-content;
  scale: 95%;
}

.faq-section-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  height: 536px;
}

.faq-section {
  width: 1100px;
  display: flex;
  border: 1px solid #FFFFFF;
}

.faq-section-text {
  position: absolute;
  letter-spacing: 0.15rem;
  font-size: 1.4rem;
  top: 107px;
  left: -126px;
}

.questions-box {
  position: absolute;
  display: inline-block;
  padding: 14px 35px;
  font-size: 1.8rem;
  font-weight: bold;
  top: 252px;
  left: -124px;
  color: white;
  background-color: #00000000;
  border: 2px solid white;
  clip-path: polygon(20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px);
}

.faq-section-text h1 {
  font-weight: 600;
}
.faq-section-text .guru {
  font-weight: bolder;
  font-size: 4rem;
}

.faq-top {
  flex: 1;
  border: 1px solid #FFFFFF;
  width: 504px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  background-color: #15151500;
  border-bottom: none;
  justify-content: right;
  align-items: end;
}

.faq-top-right {
  border: 1px solid #FFFFFF;
  width: 90px;
  max-height: 90px;
  background-color: #15151500;
  border-bottom: none;
  border-top: none;
  border-right: none;
  align-items: center !important;
}

.faq-left {
  flex: 1;
  padding: 35px;
  display: flex;
  width: 413.34px;
  flex-direction: column;
  justify-content: center; /* Centers other content vertically */
  align-items: baseline; /* Aligns items horizontally to the baseline */
  background-color: #15151500;
  border-right: 1px solid #FFFFFF;
}

.faq-left p {
  font-size: 1.2rem;
  margin: auto 0px 25px 0px;
  line-height: 2rem;
  font-weight: 600;
}


.faq-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #FFFFFF;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-item h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  font-weight: 700;
}

.faq-item p {
  font-size: 1rem;
  margin: 0;
}

.quote-icon {
  font-size: 120px;
  font-weight: bolder;
  margin: 0 15px 0 15px;
}

.faq-vec {
  position: absolute;
  transform: scale(0.5) translate(164px, -31px);
  top: -135px;
  right: -220px;
}


#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: white;
  border: 2px solid white; /* Default border color */
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 997;
  mix-blend-mode: difference; /* Inverts the border color dynamically */
}

.mobile-screen{
  display: none;
}